{% extends "base.html" %}
{% block content %}
<main>
    <div>
        <h1>{{ question_of_day.get }}</h1>
        <a href="{% url 'create_post' %}">Post</a>
        <h2>{{ today }}</h2>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Post</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts_of_day.all %}
                    <tr>
                        <td>{{ post.author }} answered: </td>
                        <td>{{ post.post }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}